<div class="col-md-12">
  <div class="row">
    <div class="col-md-12 datatable-filter">
    <div class="col-md-6">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
    </div>
    <div class="col-md-6 action-link-div">
            <a  [routerLink]="'create-sa'"    >Create</a>
    </div>
  </div>
  </div>


  <router-outlet></router-outlet>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
      'firstName', 'lastName', 'mobileNumber', 'email','maxAdmins','organization','lastLogin'

    <!-- ID Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
      <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name` </th>
      <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="mobileNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile Number </th>
      <td mat-cell *matCellDef="let row"> {{row.mobileNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let row" > {{row.email}} </td>
    </ng-container>

    <ng-container matColumnDef="organization">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Organization </th>
        <td mat-cell *matCellDef="let row" > {{row.organization}} </td>
      </ng-container>

      <ng-container matColumnDef="maxAdmins">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Max Admins </th>
          <td mat-cell *matCellDef="let row" > {{row.maxAdmins}} </td>
        </ng-container>

      <ng-container matColumnDef="lastLogin">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Login </th>
          <td mat-cell *matCellDef="let row" > {{row.lastLogin}} </td>
        </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

</div>
<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->