<div id="sidebar">
    <mat-nav-list>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/screen1']">
            <mat-icon class="sidenav-icon">build</mat-icon> {{ 'Screen1' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/screen2']">
            <mat-icon class="sidenav-icon">people</mat-icon> {{ 'Screen2' | translate }}
        </a>
    </mat-nav-list>
    <mat-accordion>
        
        <mat-expansion-panel>
                <mat-expansion-panel-header>
                        <mat-icon class="sidenav-icon">people</mat-icon>  ACCOUNTS
                      </mat-expansion-panel-header>
                <mat-nav-list>
                        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/agents']">
                            <mat-icon class="sidenav-icon">people</mat-icon> {{ 'ADMINS1' | translate }}
                        </a>
                        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/suppliers']">
                            <mat-icon class="sidenav-icon">people</mat-icon> {{ 'SUPPLIERS' | translate }}
                        </a>
                        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/sa']">
                            <mat-icon class="sidenav-icon">people</mat-icon> {{ 'Super Admins' | translate }}
                        </a>
                    </mat-nav-list>
          
          
        
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
           Modules
          </mat-expansion-panel-header>
          
          <mat-panel-description>
              
            Flights
          </mat-panel-description>
          <mat-divider></mat-divider>
          <mat-panel-description>
            Hotels
          </mat-panel-description>      
        </mat-expansion-panel>
    </mat-accordion>
</div>
